<div class="container">
  <nav-bar
    [displayedMatches]="displayedMatches"
    (filteredMatches)="filterMatches($event)"
  ></nav-bar>
  <div>
    <h2>
      Upcoming Real Madrid Matches
      <span style="position: absolute; right: 0;"
        ><prediction-modal></prediction-modal
      ></span>
    </h2>
  </div>
  <hr />
  <!-- <a [routerLink]="['/posts/new']" routerLinkActive="active">Create Post</a> -->
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary">
      Filter By
    </button>
    <button class="btn btn-primary" (click)="filterBy('Real Madrid CF')">
      Real at home
    </button>
    <button class="btn btn-primary" (click)="sortByLastUpdate()">
      Last Updated
    </button>
    <button class="btn btn-primary" (click)="resetFilters()">
      Reset Filters
    </button>
  </div>

  <hr />
  <div>
    <div class="card">
      <div *ngFor="let match of displayedMatches">
        <div class="card-header">{{ match.competition.name | uppercase }}</div>
        <!-- <h2>{{ match.competition.name | uppercase }}</h2> -->
        <h3>
          <a [routerLink]="['/posts', match.id]">
            {{ match.homeTeam.name }} Vs {{ match.awayTeam.name }}</a
          >
          <div *ngFor="let predictions of userPredictions">
            <div *ngIf="predictions.id === match.id">
              <span>Your predictions is </span>
              <span winner>{{ predictions.winner }}</span>
            </div>
          </div>
        </h3>
        <div>Match Date : {{ match.utcDate | date: "short" }}</div>
        <!-- <div>Away Team :{{ match.id }}</div> -->
        <!-- <div>Home Team : {{ match.homeTeam.name }}</div>
      <div>Away Team : match.awayTeam.name</div> -->
        <div>Last Updated Date : {{ match.lastUpdated | date: "short" }}</div>
        <hr />
      </div>
    </div>
  </div>
</div>
